*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'jost' !important;
}
:root{
  --sideBGcolor: #040b14;
  --themecolor: #00a78e;
  --iconBGcolor: #2c2f3f;
  --textcolor: #525252;
  --bgcolor: #f7f7f7;
}
/* .section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
}

.header{
 width: 20%;
 background-color: #040b14;
 height: 100vh;
 left:0;
    top:0;
} */

/* SIDE */
/* .side{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}
.slide-image img{
    height: 130px;
    width: 130px;
}
.slide-logo a{
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.navmenu li i:hover{
    color: #149ddd !important;
}
 */
/*  */
/* .main-content{
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    position: relative;
} */



/* HEADER================== */
.profile img{
    width: 150px;
}

header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGcolor);
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s;
    z-index: 99;
}
.profile .social-media a{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 37px;
}
.profile .social-media a:hover{
    background-color: var(--themecolor);
}

/* navbar */
.navbar li a{
    letter-spacing: 5px;
}
.navbar li a:hover i{
    color: #149ddd !important;
}
#menubtn{
    position: fixed;
    right: 25px;
    top: 25px;
    background-color: var(--themecolor);
    line-height: 42px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
}
