body{
  background-color: #070707;
}
/* HEADER */

.navbar-brand{
  font-size: x-large;
}
header ul li a:hover{
  text-decoration: underline yellow;
}
header ul li{
  padding: 15px;
}
/* Home-section */
.home-section .container{
  padding: 150px;
}
/* about */
.about-image img{
  height: 600px;
  width: 600px;
}
/* .about{
  padding: 100px;
} */
.shadow{
  -webkit-text-stroke: 3px white;
  /* font-size: 15vw;
  font-weight: 700;
  color:black; */
}
.heading-section{
  position: relative;
}
.heading-section h1.big {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-weight: 900;
}
 ul.about-info li span:first-child {
  font-weight: 600;
  color: #fff;
  width: 130px;
}

/* resume */
.resume{
  padding: 100px;
}
.resume-title .shadow-re{
  -webkit-text-stroke: 3px white;
}
.resume-title .big{
  position: absolute;
  top: -10px;
  left: 450px;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-weight: 900;
}
.resume-title{
  position: relative;
}
.col-12 .resume-items:hover{
  background: #ffbd39 !important;
   transform: translateY(-10px);
  transition: 0.2s;
}
.resume-items:hover .text-warning{
  color: white !important;
}
.resume-items:hover .text-white{
  color: black !important;
}
/* contact */
.contact{
  padding: 80px;
}
.contact-title .shadow-re{
  -webkit-text-stroke: 3px white;
}
.contact-title .big{
  position: absolute;
  top: -10px;
  left: 450px;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-weight: 900;
}
.contact-title{
  position: relative;
}
.contact-icons i{
  height: 20px;
  width: 20px;
  color: #ffbd39 !important;
  border-radius: 50%;
}
.contact-icons:hover i{
  background: rgb(10, 17, 1);
}