body{
  background-color: #070707;
}
::placeholder{
  color: pink !important;
}
.navbar-brand{
  font-size: x-large;
}
header ul li a:hover{
  text-decoration: underline yellow;
}
header ul li{
  padding: 15px;
}
/* Home-section */
.home-section .container{
  padding: 150px;
}
/* about */
.about-image img{
  height: 600px;
  width: 600px;
}
 ul.about-info li span:first-child {
  font-weight: 600;
  color: #fff;
  width: 130px;
}
/* text demo */
.demo{ background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(247,87,0,1) 0%, rgba(249,0,0,1) 90.1% ); }
.text-effect{
    color: #fff;
    font-family: "Suez One", serif;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.text-effect span{
    display: inline-block;
    animation: loading-text 2s infinite ease-in-out;
}
.text-effect span:nth-child(1){ animation-delay: 0.9s; }
.text-effect span:nth-child(2){ animation-delay: 1s; }
.text-effect span:nth-child(3){ animation-delay: 1.1s; }
.text-effect span:nth-child(4){  animation-delay: 1.2s; }
.text-effect span:nth-child(5){  animation-delay: 1.3s; }
.text-effect span:nth-child(6){ animation-delay: 1.4s; }
.text-effect span:nth-child(7){ animation-delay: 1.5s; }
.text-effect span:nth-child(8){ animation-delay: 1.6s; }
.text-effect span:nth-child(9){ animation-delay: 1.7s; }
.text-effect span:nth-child(10){ animation-delay: 1.8s; }
@keyframes loading-text {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    20% {
        transform: translateY(60%);
        opacity: 1;
    }
    40% {
        transform: translateY(100%);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media only screen and (max-width: 990px){
    .text-effect{ font-size: 90px; }
}
@media only screen and (max-width: 767px){
    .text-effect{ font-size: 70px; }
}
@media only screen and (max-width: 576px){
    .text-effect{ font-size: 50px; }
}
/* resume */
.resume-items{
  position: relative;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.resume-items::after, .resume-items::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),transparent 70%, #D5ED9F);
  top: 50%;
  left: 50%;
  translate: -50% -50% ;
  z-index: -1;
  padding: 10px !important;
  animation: 3s spin linear infinite;
}
.resume-items::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
.resume{
  padding: 100px;
}
.resume-title .shadow-re{
  -webkit-text-stroke: 3px white;
}
.resume-title .big{
  position: absolute;
  top: -10px;
  left: 450px;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-weight: 900;
}
.resume-title{
  position: relative;
}
.col-12 .resume-items:hover{
  background: #ffbd39 !important;
   transform: translateY(-10px);
  transition: 0.2s;
}
.resume-items:hover .text-warning{
  color: white !important;
}
.resume-items:hover .text-white{
  color: black !important;
}
/* skill */
:root{
  --timeline-color1: #343A40;
  --timeline-color2: #495057;
}
.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
  content: '';
  display: block;
  clear: both;
}
.main-timeline .timeline{
  width: calc(50% + 1px);
  padding: 0 75px 0 0;
  float: left;
}
.main-timeline .timeline-content{
  color: #fff;
  background: linear-gradient(to right,var(--timeline-color1),var(--timeline-color2));
  padding: 20px;
  border-radius: 10px;
  display: block;
  position: relative;
  z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
  font-size: 45px;
  line-height: 45px;
  margin: 0 0 10px;
}
.main-timeline .title{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
.main-timeline .description{
  color: rgba(255,255,255,0.7);
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline-year{
  color: #999;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  border-bottom: 3px solid var(--timeline-color2);
  transform: translateY(-50%);
  position: absolute;
  right: -150px;
  top: 50%;
}
.main-timeline .timeline-year:before,
.main-timeline .timeline-year:after{
  content: '';
  background-color: var(--timeline-color2);
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  position: absolute;
  left: -5px;
  bottom: -5px;
}
.main-timeline .timeline-year:after{
  border-radius: 50%;
  left: auto;
  right: -1px;
}
.main-timeline .timeline:nth-child(even){
  float: right; 
  padding: 0 0 0 75px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{ 
  left: -150px;
  right: auto;
  border-color: var(--timeline-color1);
}
.main-timeline .timeline:nth-child(even) .timeline-year:before, 
.main-timeline .timeline:nth-child(even) .timeline-year:after{
  background-color: var(--timeline-color1);   
  right: -5px;
  left: auto;
}
.main-timeline .timeline:nth-child(even) .timeline-year:after{
  right: auto;
  left: 0;
}
.main-timeline .timeline:nth-child(4n+2){
  --timeline-color1: #6C757D;
  --timeline-color2: #ADB5BD;
}
.main-timeline .timeline:nth-child(4n+3){
  --timeline-color1: #6C757D;
  --timeline-color2: #ADB5BD;
}
.main-timeline .timeline:nth-child(4n+4){
  --timeline-color1: #343A40;
  --timeline-color2: #495057;
}
@media screen and (max-width:767px){
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even){
      width: 100%;
      padding: 0 100px 0 0;
      margin: 0 0 30px;
  }
  .main-timeline .timeline:nth-child(even){ padding: 0 0 0 100px; }
  .main-timeline .timeline-year,
  .main-timeline .timeline:nth-child(even) .timeline-year{
      font-size: 25px;
      width: 100px;
      right: -100px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year{ left: -100px; }
}
@media screen and (max-width:479px){
  .main-timeline .timeline{ padding: 0 40px 0 0; }
  .main-timeline .timeline:nth-child(even){ padding: 0 0 0 40px; }
  .main-timeline .timeline-year{
      border: none;
      transform: translateY(-50%) rotate(90deg);
      right: -70px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year{ left: -70px; }
  .main-timeline .timeline-year:before,
  .main-timeline .timeline-year:after{
      display: none;
  }
}
/* contact */
.contact{
  padding: 80px;
}
.contact-title .shadow-re{
  -webkit-text-stroke: 3px white;
}
.contact-title .big{
  position: absolute;
  top: -10px;
  left: 450px;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-weight: 900;
}
.contact-title{
  position: relative;
}
.contact-icons i{
  height: 20px;
  width: 20px;
  color: #ffbd39 !important;
  border-radius: 50%;
}
.contact-icons i{
  background: rgba(255, 255, 255, 0.1);
}
form{
  background-color: white;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.contact-inner{
  position: relative;
}
.contact-inner::after,.contact-inner::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),transparent 70%, #D5ED9F);
  top: 50%;
  left: 50%;
  translate: -50% -50% ;
  z-index: -1;
  padding: 10px !important;
  animation: 3s spin linear infinite;
}
.contact-inner::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
/* work */
.work-title .shadow-re{
  -webkit-text-stroke: 3px white;
}
.work-title .big{
  position: absolute;
  top: -10px;
  left: 450px;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-weight: 900;
}
.work-title{
  position: relative;
}
.col-12 .work-content a img{
  height: 250px;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.work-content{
  position: relative;
}
.work-content::after,.work-content::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),transparent 70%, #D5ED9F);
  top: 50%;
  left: 50%;
  translate: -50% -50% ;
  z-index: -1;
  padding: 10px !important;
  animation: 3s spin linear infinite;
}
.work-content::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}